DJANGO_SETTINGS_MODULE=equipTrack.settings.dev
DJANGO_SECRET_KEY=replace-with-a-secure-random-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

POSTGRES_DB=equipTrack
POSTGRES_USER=equipTrack_user
POSTGRES_PASSWORD=equipTrack_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432